<h1>{{ title }}</h1>

<ul>
  <li *ngFor="let todo of todos">{{ todo.id }}. {{ todo.title }}
    <button *ngIf="!todo.done" (click)="markAsDone(todo)">CONCLUIR</button>
    <button *ngIf="todo.done" (click)="markAsUndone(todo)">REFAZER</button>
    <button (click)="remove(todo)" [disabled]="!todo.done">REMOVER</button></li>
</ul>

<form [formGroup]="form">
  <fieldset>
    <label>Tarefa: </label>
    <input
      type="text"
      placeholder="Título da tarefa"
      maxlength="60"
      formControlName="title" />
    <button>Salvar</button>
  </fieldset>
</form>
